
body {
    background-color: #e8ecec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    }

.form-log-in {
display: flex;
flex-direction: column;
width: 495px;
height: 450px;
align-items: flex-start;
gap: var(--size-space-600);
justify-content: center;

}
.form-log-in .input-field {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--size-space-200);
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
}
.form-log-in .label {
position: relative;
align-self: stretch;
margin-top: -1px;
font-family: "Moderat-Regular", Helvetica;
font-weight: 400;
color: var(--color-text-default-default);
font-size: 16px;
letter-spacing: 0;
line-height: 22.4px;
background: transparent;
border: none;
padding: 0;
}
.form-log-in .input {
min-width: 240px;
padding: var(--size-space-300) var(--size-space-400) var(--size-space-300) var(--size-space-400);
position: relative;
align-self: stretch;
width: 100%;
margin-bottom: -1px;
margin-left: -1px;
margin-right: -1px;
background-color: var(--color-background-default-default);
border-radius: var(--size-radius-200);
overflow: hidden;
border: 1px solid;
border-color: var(--color-border-default-default);
flex: 1;
margin-top: -0.5px;
font-family: var(--single-line-body-base-font-family);
font-weight: var(--single-line-body-base-font-weight);
color: var(--color-text-default-tertiary);
font-size: var(--single-line-body-base-font-size);
letter-spacing: var(--single-line-body-base-letter-spacing);
line-height: var(--single-line-body-base-line-height);
font-style: var(--single-line-body-base-font-style);
}
.form-log-in .text-wrapper {
position: relative;
align-self: stretch;
margin-top: -1px;
font-family: var(--body-base-font-family);
font-weight: var(--body-base-font-weight);
color: #1e1e1e;
font-size: var(--body-base-font-size);
letter-spacing: var(--body-base-letter-spacing);
line-height: var(--body-base-line-height);
font-style: var(--body-base-font-style);
}
.form-log-in .value-wrapper {
display: flex;
min-width: 240px;
align-items: center;
padding: var(--size-space-300) var(--size-space-400) var(--size-space-300) var(--size-space-400);
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
margin-bottom: -1px;
margin-left: -1px;
margin-right: -1px;
background-color: var(--color-background-default-default);
border-radius: var(--size-radius-200);
overflow: hidden;
border: 1px solid;
border-color: var(--color-border-default-default);
}
.form-log-in .value {
position: relative;
flex: 1;
margin-top: -0.5px;
font-family: var(--single-line-body-base-font-family);
font-weight: var(--single-line-body-base-font-weight);
color: var(--color-text-default-tertiary);
font-size: var(--single-line-body-base-font-size);
letter-spacing: var(--single-line-body-base-letter-spacing);
line-height: var(--single-line-body-base-line-height);
font-style: var(--single-line-body-base-font-style);
}
.form-log-in .button-group {
display: flex;
align-items: center;
gap: var(--size-space-400);
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
background-color: #ffffff;
}
.form-log-in .button {
all: unset;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
gap: var(--size-space-200);
padding: var(--size-space-300);
position: relative;
flex: 1;
flex-grow: 1;
background-color: #def200;
border-radius: var(--size-radius-200);
overflow: hidden;
}
.form-log-in .div {
all: unset;
box-sizing: border-box;
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Inter-ExtraBold", Helvetica;
font-weight: 800;
color: #1e1e1e;
font-size: 16px;
letter-spacing: 0;
line-height: 16px;
white-space: nowrap;
}
.form-log-in .text-link {
display: flex;
align-items: flex-start;
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
}
.form-log-in .text-link-2 {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: var(--body-link-font-family);
font-weight: var(--body-link-font-weight);
color: var(--color-text-default-default);
font-size: var(--body-link-font-size);
letter-spacing: var(--body-link-letter-spacing);
line-height: var(--body-link-line-height);
text-decoration: underline;
white-space: nowrap;
font-style: var(--body-link-font-style);
}